.product-page {
  background-color: greenyellow;
  margin: auto;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  text-align: center;
}

.product-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.shop-item-image-hero {
  width: 25%;
}
